<template name="clientForm">
    <div class="client-form">
        <form class="form-horizontal">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="First Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Last Name">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Phone Number">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="Enter a message"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</template>